<!DOCTYPE html>
<html>
<head>
    <title>Order Delivered</title>
</head>
<body>
    <h2>Dear {{ user.name }},</h2>
    <p>We are happy to inform you that your order <strong>#{{ order.id }}</strong> has been successfully delivered.</p>

    <h3>Order Details:</h3>
    <ul>
        {% for product in products_with_review_links %}
            <li>
                <strong>{{ product.name }}</strong>  
                <br>
                Please give us review against this product:  
                <a href="{{ product.review_link }}">Write a Review</a>
            </li>
        {% endfor %}
    </ul>

    <p>We hope you love your purchase! Your feedback is important to us. Please take a moment to review your products.</p>

    <p>Thank you for shopping with us!</p>
    <p>Best Regards,<br>IntelliWear Team</p>
</body>
</html>
